.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dados-cadastrais {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.endereco {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1em;
}

.button-wrapper {
  display: flex;
  gap: 1em;
  justify-content: end;
}

